<!DOCTYPE html>
<html lang="en" ng-app="textApp">

<head>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<title>ngMadLibs</title>
</head>

<body ng-controller="myCtrl">
	<div class="container">
		<div class="titleArea">
			<img class="smileyFace" src="img/mad-lib-happy-face.png" alt="MadLib Happy Face" width="100">
			<div class="logoArea">
				<img class="logo" src="img/ng-mad-libs-logo.png" alt="MadLib Logo" width="200">
				<h1>Automate This!</h1>
			</div>

		</div>
		<div class="form">
			<h3>Provide the following words:</h3>
			<input type="text" placeholder="Female Name" ng-model="myForm.femaleName" />
			<input type="text" placeholder="Job Title" ng-model="myForm.jobTitle" />
			<input type="text" placeholder="Tedious Task" ng-model="myForm.tediousTask" />
			<br>
			<input type="text" placeholder="Dirty Task" ng-model="myForm.dirtyTask" />
			<input type="text" placeholder="Celebrity" ng-model="myForm.celebrity" />
			<input type="text" placeholder="Useles Skill" ng-model="myForm.uselessSkill" />
			<br>
			<input type="text" placeholder="Adjective" ng-model="myForm.adjective" />
			<input type="text" placeholder="Obnoxious Celebrity" ng-model="myForm.obnoxiousCelebrity" />
			<input type="text" placeholder="Huge Number" ng-model="myForm.hugeNumber" />
		</div>

		<div class="text">
			<p><u>__{{myForm.femaleName}}__</u> was a <u>__{{myForm.jobTitle}}__</u> who loved technology. Although she loved parts of her job, she absolutely hated <u>__{{myForm.tediousTask}}__</u> and <u>__{{myForm.dirtyTask}}__</u>. So, <u>__{{myForm.femaleName}}__</u> met with her life mentor
				<u>__{{myForm.celebrity}}__</u> who told her to learn how to <u>__{{myForm.uselessSkill}}__</u> with Thinkful. Thinkful didn't offer a course on <u>__{{myForm.uselessSkill}}__</u> so she studied programming instead. </p>

			<p>What a great decision! With her new skills, <u>__{{myForm.femaleName}}__</u> built a(n) <u>__{{myForm.adjective}}__</u> robot named <u>__{{myForm.obnoxiousCelebrity}}__</u> that not only loved <u>__{{myForm.dirtyTask}}__</u> but did it <u>__{{myForm.hugeNumber}}__</u> times faster. </p>
		</div>
	</div>
</body>

</html>
